@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./navbar.css');
@import url('./index.css');

@import url('./sidemenu.css');
@import url('./backgrounds.css');
@import url('./fonts.css');

body {
  background-color: #1f1f1f;
}

html,body {
  height: 100%;
}


.font-display {
  font-family: '323';
}

.font-primary {
  font-family: 'dosis';
}

.glassy {
  backdrop-filter: blur(5px);
}

.hide-scrollbar::-webkit-scrollbar {
  display:none;
}


.gradient-1 {
  background:linear-gradient(45deg,#E94AFF,#4AE6FF)
}

input {
  font-family: 'dosis';
  color:white;
  background:transparent;

}

input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* quick notes */
/* pink : E94AFF */
/* blue : 4AE6FF */
/* gray : 252525 */