@tailwind base;
@tailwind components;
@tailwind utilities;




.navbar-outer {
    @apply
    w-full h-[8vh] absolute
    flex items-center justify-center z-30
    bg-glass-gray border-b border-white
    ;
}


.navbar-inner {
    @apply
    h-5/6 
    flex items-center 
    relative

    sm:w-full

    md:w-full

    lg:w-full
    
    xl:w-full
    ;
}


.icon-holder {
    @apply
    h-full w-[10vh]
    flex items-center justify-center
    ;
}

.hamburger-holder {
    @apply
    h-full w-[10vh]
    cursor-pointer
    flex items-center justify-center
    ;
}

.ccc-icon {
    @apply
    w-12 h-12
    ;
}
